{% extends "iris/base.html" %}

{% load i18n %}
{% load iris_tags %}

{% block title %}{% trans "Topics" %} - {{ block.super }}{% endblock %}

{% block body %}

    <h1>{% trans "Topics" %}</h1>

    <ul>
        {% if perms.iris.add_topic %}
            <li><a href="{% url iris_topic_create %}">Create a new topic</a></li>
        {% endif %}
    </ul>

    {% if topic_list %}
        <ul>
            {% for topic in topic_list.reverse %}
                {% if user|canviewtopic:topic %}
                    <li><a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a></li>
                {% else %}
                    <li>{% trans "(restricted)" %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No topics." %}</p>
    {% endif %}

{% endblock %}
