{% load i18n %}
<ul>
    <li>
        {% trans "Started" %}
        {{ topic.created|timesince }}
        {% trans "ago by" %}
        {% with topic.creator.get_absolute_url as url %}
            {% if url %}
                <a href="{{ url }}">{{ topic.creator }}</a>
            {% else %}
                {{ topic.creator }}
            {% endif %}
        {% endwith %}
    </li>
    <li>
        {% blocktrans with topic.modified|timesince as modified %}
            Last active {{ modified }} ago
        {% endblocktrans %}
    </li>
</ul>
