{% extends "iris/base.html" %}

{% load iris_tags %}

{% block title %}{{ topic.subject }} - {{ block.super }}{% endblock %}

{% block body %}
    <p><a href="{% url iris_topics %}">« Topics</a></p>

    <h1>{{ topic.subject }}</h1>

    <p>Started {{ topic.created|timesince }} ago by {{ topic.creator }}</p>

    <h2>Participants</h2>

    <ul>
        {% for participant in topic.participants.all %}
            <li>{{ participant.content }}</li>
        {% endfor %}
        {% if user|canjointopic:topic and not user|hasjoinedtopic:topic %}
            <li>
                <form action="{% url iris_topic_join topic_id=topic.id %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <input type="submit" value="Join">
                </form>
            </li>
        {% endif %}
    </ul>

    {% for item in topic.items.reverse %}
        <div>
            <div>{{ item.created|timesince }} ago</div>
            {% include item.view_template %}
            {% if not forloop.last %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
