{% load i18n %}
<ul>
    <li>
        {% trans "Started by" %}
        {% with topic.creator as content %}{% include "iris/content_link.html" %}{% endwith %}
        {{ topic.created|timesince }}
        {% trans "ago" %}
    </li>
    <li>
        {% with topic.items.latest.creator as content %}
            {% if content %}
                {% trans "Latest by" %}
                {% include "iris/content_link.html" %}
                {{ topic.modified|timesince }}
                {% trans "ago" %}
            {% endif %}
        {% endwith %}
    </li>
</ul>
