{% load i18n %}
{% load iris_tags %}
<ul>
    {% with topic.participants.all|activeparticipants as participants %}
        {% for participant in participants %}
            <li>
                {% with participant.content as content %}{% include "iris/content_link.html" %}{% endwith %}
            </li>
        {% empty %}
            <li>{% trans "No participants." %}</li>
        {% endfor %}
    {% endwith %}
    {% if user|canjointopic:topic and not user|hasjoinedtopic:topic %}
        <li>
            <form action="{% url iris_topic_join topic_id=topic.id %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Join' %}">
            </form>
        </li>
    {% endif %}
</ul>
