{% load i18n %}
{% load iris_tags %}
<ul>
    {% for participant in topic.participants.all %}
        <li>
            {% with participant.content as content %}
                {% with content.get_absolute_url as url  %}
                    {% if url %}
                        <a href="{{ url }}">{{ content }}</a>
                    {% else %}
                        {{ content }}
                    {% endif %}
                {% endwith %}
            {% endwith %}
        </li>
    {% endfor %}
    {% if user|canjointopic:topic and not user|hasjoinedtopic:topic %}
        <li>
            <form action="{% url iris_topic_join topic_id=topic.id %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Join' %}">
            </form>
        </li>
    {% endif %}
</ul>
