{% extends "iris/base.html" %}

{% load i18n %}
{% load iris_tags %}

{% block title %}{% trans "Topics" %} - {{ block.super }}{% endblock %}

{% block body_class %}topics{% endblock %}

{% block body %}

    <h1>{% trans "Topics" %}</h1>

    {% if perms.iris.add_topic %}

        <form action="{% url iris_topic_create %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <table>
                {{ topic_create_form.as_table }}
            </table>
            <p><input type="submit" value="{% trans 'Create' %} &rarr;"></p>
        </form>

    {% endif %}

    {% if user.is_authenticated %}
        {% with user|topicsjoined as topic_list %}
            {% if topic_list %}
                <h2>{% trans "Your topics" %}</h2>

                <ul>
                    {% for topic in topic_list.reverse %}
                        <li>
                            <a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a>
                            {% blocktrans with topic.modified|timesince as modified %}
                                ({{ modified }} ago)
                            {% endblocktrans %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endif %}

    <h2>{% trans "Latest topics" %}</h2>

    {% if topic_list %}
        <ul>
            {% for topic in topic_list.reverse %}
                {% if user|canviewtopic:topic %}
                    <li>
                        <a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a>
                        {% blocktrans with topic.modified|timesince as modified %}
                            ({{ modified }} ago)
                        {% endblocktrans %}
                    </li>
                {% else %}
                    <li>{% trans "(restricted)" %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No topics." %}</p>
    {% endif %}

{% endblock %}
