{% extends "iris/base.html" %}

{% block title %}{{ topic.subject }} - {{ block.super }}{% endblock %}

{% block body %}
    <p><a href="{% url iris_topics %}">« Topics</a></p>

    <h1>{{ topic.subject }}</h1>

    <p>Started {{ topic.created|timesince }} ago by {{ topic.creator }}</p>

    {% for item in topic.items.all %}
        <div>
            <div>{{ item.created|timesince }} ago</div>
            {% include item.view_template %}
            {% if not forloop.last %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
