{% load i18n %}
{% with item.content.participant.content as participant %}
    {% if participant == item.creator %}
        {% with participant as content %}{% include "iris/content_link.html" %}{% endwith %}
        {% trans "left the topic" %}
    {% else %}
        {% with item.creator as content %}{% include "iris/content_link.html" %}{% endwith %}
        {% trans "removed" %}
        {% with participant as content %}{% include "iris/content_link.html" %}{% endwith %}
        {% trans "from the topic" %}
    {% endif %}
{% endwith %}
