{% load i18n %}
{% with item.content.participant.content as new_participant %}
    {% if new_participant == item.creator %}
        {% with new_participant as content %}{% include "iris/content_link.html" %}{% endwith %}
        {% trans "joined the topic" %}
    {% else %}
        {% with item.creator as content %}{% include "iris/content_link.html" %}{% endwith %}
        {% trans "added" %}
        {% with new_participant as content %}{% include "iris/content_link.html" %}{% endwith %}
        {% trans "to the topic" %}
    {% endif %}
{% endwith %}
